:root {}

body {
  background-image: url(https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-20/global-assets/common/featuredimage.png.adapt.crop191x100.1200w.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

#logo {
  width: 50%;
  max-width: 600px;
  min-width: 200px;
  margin: 120px auto 50px;
  display: block;
}

#container {
  width: 70%;
  max-width: 700px;
  margin: 0 auto 40px;
  background-color: #fa5361;
  border-radius: 10px;
  padding: 30px;
}

form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#ratings {
  margin-top: 20px;
}

h2 {
  font-size: 18px;
  color: white;
}

#names {
  /* width: 100%; */
  height: 40px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  padding: 0 10px;
  font-family: 'Oxygen', sans-serif;
}

.checkbox-pair {
  margin: 5px 0;
}

label {
  color: white;
  font-weight: bold;
}

label i {
  font-size: 22px;
  margin-left: 2px;
  color: #fcdc50;
  text-shadow: 0px 0px 2px #383838;
}

input[type=checkbox], input[type=radio] {
  margin-right: 20px;
}

#international {
  margin-top: 20px;
}

#international label {
  font-weight: normal;
}

#submit {
  display: block;
  font-size: 16px;
  margin: 40px auto 20px;
  padding: 15px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 50%;
  min-width: 150px;
  max-width: 300px;
}

#submit:hover {
  cursor: pointer;
  background-color: #fcdc50;
}

/* Code from W3 */

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 0 10px;
  /* 15% from the top and centered */
  /* border: 1px solid #888; */
  border-radius: 10px;
  width: 85%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
  color: #aaa;
  float: right;
  margin-right: 10px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #fa5361;
  text-decoration: none;
  cursor: pointer;
}

#results {
  width: 80%;
  margin: 0 auto;
  padding: 70px 0 0;
}

#results th {
  width: 50%;
  height: 40px;
  font-size: 20px;
  padding-bottom: 30px;
}

#results img {
  height: 10vw;
  min-height: 70px;
  margin: 0px;
}

.modal-content h2 {
  color: black;
  text-align: center;
  padding: 30px 0;
}

#results td {
  padding: 20px 0;
  text-align: center;
}

#results td h3 {
  font-weight: normal;
  margin: 0;
}

#results td h4 {
  margin: 10px 0;
  text-transform: uppercase;
}

#results td h5 {
  padding: 0;
  margin: 0 0 5px;
}

#results td p {
  font-weight: lighter;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* Animation for modal fade in */

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Limits modal width on larger screen sizes */

@media only screen and (min-width: 600px) {
  .modal-content {
    width: 70%;
  }
}

@media only screen and (min-width: 960px) {
  .modal-content {
    width: 50%;
    max-width: 1000px;
  }
}